* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
    background-color: hsl(185, 41%, 84%);
}

header {
    color: hsl(183, 100%, 15%);
}

main {
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(186, 14%, 43%);
    padding: 30px;
    border-radius: 30px;
}

h2 {
    font-size: 16px;
}

input {
    border: none;
    background-color: hsl(189, 41%, 97%);
    height: 40px;
    width: 100%;
    border-radius: 5px;
}

/* Info to calculate tip */

.section-left {
    width: 50%;
    margin-right: 50px;
}

.section-right {
    background-color: hsl(183, 100%, 15%);
    padding: 30px;
    border-radius: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-tip-selection {
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-size: 24px;
    font-family: inherit;
    border-radius: 5px;
}

/* Results from calculation */

.results {
    display: flex;
    justify-content: space-between;
}

#btn-reset {
    width: 100%;
    height: 50px;
}

/* Pre-defined styles */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
