* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: hsl(172, 67%, 45%);
    --cyan-very-dark: hsl(183, 100%, 15%);
    --cyan-dark-1: hsl(186, 14%, 43%);
    --cyan-dark-2: hsl(184, 14%, 56%);
    --cyan-light-1: hsl(185, 41%, 84%);
    --cyan-light-2: hsl(189, 41%, 97%);
}

body {
    font-family: "Space Mono", monospace;
    background-color: hsl(185, 41%, 84%);
}

header {
    color: var(--cyan-very-dark);
}

main {
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    color: var(--cyan-dark-1);
    padding: 30px;
    border-radius: 30px;
}

h2 {
    font-size: 16px;
}

input {
    border: none;
    background-color: hsl(189, 41%, 97%);
    height: 40px;
    width: 100%;
    border-radius: 5px;
}

/* Calculate tip */

.section-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
}

.bill {
    height: 30%;
}

.tip {
    height: 40%;
}

.people {
    height: 30%;
}

.tip-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tip-select-element {
    width: 30%;
    height: 40px;
    border: none;
    background-color: var(--cyan-very-dark);
    color: white;
    font-size: 24px;
    font-family: inherit;
    border-radius: 5px;
}

/* .btn-tip-select {
    border: none;
    background-color: var(--cyan-very-dark);
    color: white;
    font-size: 24px;
    font-family: inherit;
    border-radius: 5px;
} */

/* Results from calculations */

.section-right {
    background-color: var(--cyan-very-dark);
    padding: 30px;
    border-radius: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Results from calculation */

.results {
    display: flex;
    justify-content: space-between;
}

#btn-reset {
    width: 100%;
    height: 50px;
    background-color: var(--primary);
    font-family: inherit;
    font-weight: 700;
    color: var(--cyan-dark-1);
    border: none;
    border-radius: 5px;
}

.tip-title {
    color: white;
}

.sums {
    font-size: 40px;
    color: var(--primary);
}

/* Pre-defined styles */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
